<footer id="fh5co-footer" role="contentinfo">
    <div class="container-fluid">
        <div class="footer-content">
            <div class="copyright"><small>&copy; 2019 Present. All Rights Reserved. <br>Designed by <a
                        href="https://github.com/magnuel14">Area 51</a> Mas proyectos: <a
                        href="/">Galeria</a></small></div>
            <div class="social">
                <a href="https://www.facebook.com/manuvivente/"><i class="icon-facebook3"></i></a>
                <a href="https://www.instagram.com/manuvivente/"><i class="icon-instagram2"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- END #fh5co-footer -->