<header id="fh5co-header" role="banner">
	<div class="container text-center">
		<div id="fh5co-logo">
			<a href="/"><img src="images/logo.png" alt="OLi"></a>
		</div>
		<nav>
			<ul>
				<li><a href="/verAbout">About</a></li>
				<li><a href="/verwork">Work</a></li>
				<li><a href="/versingle">Single</a></li>
				<li><a href="/verContact">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
<!-- END #fh5co-header -->