<div class="page-content" style="text-align: justify;">
    <h1 class="mb0">About Me</h1>
    <div style="text-align:center" class="meta"><span>Ingeniera en Ecosistemas</span>, <span>Illustrator</span>, <span>Consultura</span></div>

    <p class="text-center"><img src="images/person.jpg" alt="orejita y yo"></p>
    <p style="color: #424949;">Hola, soy una ilustradora autodidacta apasionada por temas de conservación,
        ecología de hongos y aprovechamiento de recursos forestales no maderables.</p>
    <p style="color: #424949;">Descubrí mi gusto por ilustrar durante mi pregrado
        en Ingeniería en Ecosistema en la Amazonia Ecuatoriana.</p>
    <p style="color: #424949;">Comparto mis ilustraciones en mi página de instagram(@endémica.ilustra6)
        y colaboro con algunos proyecto como Root&Shhot Ecuador,
        Plato Amazónico y Nutritivo, PCME-Núcelo Amazonía, Emprendimiento Kuru y Sello Chakra.
    </p>
    <!--
    <ul class="square">
        <li>A</li>
        <li>B</li>
        <li>c</li>
    </ul>
    -->
</div>