<div class="page-content" style="text-align:center">
    <h1>Contact Me</h1>
    <p>vicentektefa0601@gmail.com | Tel: 0994918987</p>

    <p><a href="https://www.instagram.com/p/CBRTN-WBnZH/">@endemica.ilustra6</a></p>
    <div align="center">
        <p style="height: 500px; width: 250px;"><img src="images/cont.png" alt="Mi amazonia"></p>
    </div>
</div>